@use 'variables';

.header {
  background-image: repeating-linear-gradient(
      3deg,
      variables.$color-main 0px,
      variables.$color-main 31px,
      transparent 31px,
      transparent 35px
    ),
    repeating-linear-gradient(
      236deg,
      variables.$color-main 0px,
      variables.$color-main 31px,
      transparent 31px,
      transparent 35px
    ),
    repeating-linear-gradient(
      343deg,
      variables.$color-main 0px,
      variables.$color-main 31px,
      transparent 31px,
      transparent 35px
    ),
    repeating-linear-gradient(
      282deg,
      variables.$color-main 0px,
      variables.$color-main 31px,
      transparent 31px,
      transparent 35px
    ),
    linear-gradient(
      90deg,
      variables.$color-ui-secondary,
      variables.$color-ui-secondary
    );
  background-size: 400% 400%;
  animation: gradient 120s ease-in-out infinite;
  height: 100vh;
  color: variables.$color-white;
  clip-path: polygon(100% 0, 100% 90%, 30% 90%, 0 60%, 0 0);

  @media only screen and (max-width: 1230px) {
    clip-path: polygon(100% 0, 100% 90%, 40% 90%, 0 60%, 0 0);
  }

  @media only screen and (max-width: 950px) {
    clip-path: polygon(100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.nav-logo-wrap {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 11rem;
  z-index: 20;
}

.sticky {
  position: fixed;
  background-color: variables.$color-main;
}
.logo {
  text-align: center;
  margin: 0rem 0 0 6rem;
  height: 5rem;
  letter-spacing: 0;
}
.navbar {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 200;
  list-style-type: none;
  margin-right: 6rem;

  &__link {
    color: variables.$color-ui-primary;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;

    &:hover {
      color: rgb(211, 211, 211);
    }
  }
  li:not(:last-child) {
    margin-right: 4rem;
  }
}
.heading {
  position: absolute;
  left: 15%;
  top: 30%;
  color: variables.$color-ui-secondary;

  @media only screen and (max-width: 950px) {
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  &__main {
    font-size: 8rem;
    font-weight: 700;
  }

  &__sub {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: variables.$color-white;

    width: 100%;
    text-align: center;
  }
}
.illustration {
  position: absolute;
  top: 25%;
  right: 15%;
  // transform: translateX(50%);

  @media only screen and (max-width: 950px) {
    top: 35%;
    right: 50%;
    transform: translateX(50%);
  }

  @media only screen and (max-width: 600px) {
    top: 45%;
  }
  .hero {
    height: 45rem;

    @media only screen and (max-width: 600px) {
      height: 35rem;
    }
  }
}
