@use 'variables';

.about {
  width: 100%;
  margin: 0 auto;
  background-color: variables.$color-main;
  padding: 6rem 0;

  &__wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, min-content);
    gap: 4rem;
    max-width: 1080px;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, min-content);
    }
  }

  &__heading {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: center;
    font-weight: 500;
    color: variables.$color-ui-secondary;
    font-size: 5rem;
    padding-bottom: 3rem;
  }
  &__photo {
    grid-row: 2/3;
    grid-column: 1/ 2;
    justify-self: center;
    height: 30rem;
    border-radius: 2rem;
    @media only screen and (max-width: 600px) {
      width: 100%;
      height: auto;
    }
  }
  &__text {
    color: variables.$color-white;
    font-size: 1.6rem;
    line-height: 1.6;
  }

  &__email {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: variables.$color-white;
    img {
      margin-right: 2rem;
      height: 4rem;
    }
  }

  &__github {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: variables.$color-white;
    img {
      margin-right: 2rem;
      height: 4rem;
    }
    a {
      color: variables.$color-white;
      &:hover {
        color: rgb(108, 108, 255);
      }
    }
  }
}
