* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 72.5%;
  }
}
@media only screen and (max-width: 1450px) {
  html {
    font-size: 52.5%;
  }
}
@media only screen and (max-width: 1230px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 1050px) {
  html {
    font-size: 40%;
  }
}

body {
  box-sizing: inherit;
  font-family: "Archivo", sans-serif;
  background-color: #0f5738;
}

.header {
  background: linear-gradient(45deg, #0a2b1c, #035834, #0e3825, #062919);
  background-size: 400% 400%;
  animation: gradient 10s ease-in-out infinite;
  height: 100vh;
  color: #faebd7;
  clip-path: polygon(100% 0, 100% 90%, 30% 90%, 0 60%, 0 0);
}
@media only screen and (max-width: 950px) {
  .header {
    clip-path: polygon(100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav-logo-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-align: center;
  margin: 1.5rem 0 0 6rem;
  height: 5rem;
  letter-spacing: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: 200;
  list-style-type: none;
  margin-right: 6rem;
}
.navbar__link a {
  color: #f8d82e;
  text-decoration: none;
  font-weight: 500;
}
.navbar__link a:hover {
  color: lightgray;
}
.navbar__link:not(:last-child) {
  margin-right: 4rem;
}

.heading {
  position: absolute;
  left: 15%;
  top: 30%;
  color: #65bf65;
}
@media only screen and (max-width: 950px) {
  .heading {
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
}
.heading__main {
  font-size: 8rem;
  font-weight: 700;
}
.heading__sub {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #faebd7;
  width: 100%;
  text-align: center;
}

.illustration {
  position: absolute;
  top: 25%;
  right: 15%;
}
@media only screen and (max-width: 950px) {
  .illustration {
    top: 35%;
    right: 50%;
    transform: translateX(50%);
  }
}
@media only screen and (max-width: 600px) {
  .illustration {
    top: 45%;
  }
}
.illustration .hero {
  height: 45rem;
}
@media only screen and (max-width: 600px) {
  .illustration .hero {
    height: 35rem;
  }
}

.projects {
  background-color: #0f5738;
}
.projects h2 {
  color: #65bf65;
  font-size: 7rem;
  padding-top: 6rem;
  font-weight: 500;
  text-align: center;
}

.project {
  background-color: #0d4d31;
  color: #faebd7;
  width: 80%;
  margin: 10rem auto;
  padding: 6rem 0;
}
.project__wrapper {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  max-width: 1080px;
}
@media only screen and (max-width: 950px) {
  .project__wrapper {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
.project__image {
  height: 35rem;
  filter: brightness(0.8);
  transition: all 0.2s ease-out;
  border-radius: 2rem;
}
.project__image:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
@media only screen and (max-width: 950px) {
  .project__image {
    width: 100%;
    height: auto;
  }
}
.project__title {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
@media only screen and (max-width: 950px) {
  .project__title {
    margin: 2rem 0;
  }
}
.project__text {
  font-size: 1.8rem;
  line-height: 1.6;
}
@media only screen and (max-width: 950px) {
  .project__text {
    width: 80%;
  }
}
.project__btn {
  background-color: #f8d82e;
  display: inline-block;
  padding: 0.8rem 2rem;
  margin: 2rem 1rem 0 0;
  border-radius: 5rem;
  text-decoration: none;
  color: #113b29;
  font-size: 1.6rem;
  float: left;
  transition: all 0.2s ease-out;
}
.project__btn:hover {
  background-color: #f8e68a;
}
.project__github {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
.project__github img {
  height: 3.5rem;
}

.about {
  width: 100%;
  margin: 0 auto;
  background-color: #113b29;
  padding: 6rem 0;
}
.about__wrapper {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 4rem;
  max-width: 1080px;
}
@media only screen and (max-width: 600px) {
  .about__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }
}
.about__heading {
  grid-row: 1/2;
  grid-column: 1/-1;
  text-align: center;
  font-weight: 500;
  color: #65bf65;
  font-size: 5rem;
  padding-bottom: 3rem;
}
.about__photo {
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: center;
  height: 30rem;
  border-radius: 2rem;
}
@media only screen and (max-width: 600px) {
  .about__photo {
    width: 100%;
    height: auto;
  }
}
.about__text {
  color: #faebd7;
  font-size: 1.6rem;
  line-height: 1.6;
}
.about__email {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #faebd7;
}
.about__email img {
  margin-right: 2rem;
  height: 4rem;
}
.about__github {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: #faebd7;
}
.about__github img {
  margin-right: 2rem;
  height: 4rem;
}
.about__github a {
  color: #faebd7;
}
.about__github a:hover {
  color: #6c6cff;
}

/*# sourceMappingURL=style.css.map */
